@font-face {
    font-family: galderglynn;
    src: url(./fonts/galderglynn-font/galderglynn\ titling\ el.otf );
}

@font-face {
    font-family: galderglynn-bold;
    font-weight: 100;
    src: url(./fonts/galderglynn-font/galderglynn\ titling\ bl.otf);
}

@font-face {
    font-family: galderglynn-med;
    font-weight: 800;
    src: url(./fonts/galderglynn-font/galderglynn\ titling\ bk.otf);
}
@font-face {
    font-family: room-light;
    src: url(./fonts/room-font/Room-Light.ttf);
}

@font-face {
    font-family: room-med;
    /* font-weight: 100; */
    src: url(./fonts/room-font/Room-Medium.ttf);
}

@font-face {
    font-family: room-bold;
    /* font-weight: 200; */
    src: url(./fonts/room-font/Room-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: galderglynn;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}
nav img{
    width: 20vh;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 14px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    font-family: galderglynn-med;
    
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    font-weight: 700;
    font-family: galderglynn-med;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;
}

#hero-1 {
    background-color:orange;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(rgb(255, 176, 29), rgb(255, 167, 3));

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(rgb(255, 176, 29), rgb(255, 167, 3));
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(15%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(15%, -5%);
    }

    to {
        transform: translate(-20%, 10%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 3vw;
    width: 60%;
    line-height: 4vw;
    font-family: galderglynn-med;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 15vw;
    border-radius: 15px;
    margin-top: 6vw;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.2vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, rgb(255, 170, 14), rgb(255, 166, 1));
   


    top: 48%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
#page3 .page3-heading{
    margin: 0.5vw 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page3 .heading-gola{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
    margin: 1vw 1vw;
}

.elem {
    height: 120px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2 {
    font-size: 2.5vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
#page3 h4 {
    padding: 10px 20px;
    /* border: 1px solid #0000003c; */
    border-radius: 50px;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    margin: 2vw 2vw;
    
}

#page3 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: black; */
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#page3 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#page3 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#page3 h4:hover a {
    color: orange;
}



#page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
  }

  .swiper-slide {
    border-left: 2px solid #00000028;
    width: 25%;
    padding: 0 2vw;  
  }
  
.slider-heading{
    font-size: 2vw;
    margin-top: 1vw;
}
#page5 {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}


.text-page5{
    font-size: 100px;
}

#page5-heading{
    height: 20vh;
    width: 100%;
    padding: 2vw;
    align-items: center;
}
#sliders-page3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
   
}
#page4 .page4-heading{
    margin: 0.5vw 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider-content{
    margin-top: 2vw;
}

#page4 .heading-gola{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
    margin: 1vw 1vw;
}
  .card{

    width: 600px;
    height: 55vmin;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35);
    background-color: #fff;
  }
  
  .card__img{
    background-position: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
  }
  
  #img01{
    background-image: url("./media/david-hofmann-POd35V_uE4k-unsplash.jpg");
  }

  #img02{
    background-image: url("./media/jakayla-toney-EdwBSWshC-U-unsplash.jpg");
  }
  
  
  .card__content{
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
  }
  
  .card__content-theme{
    font-weight: 900;
    font-size: 18px; 
  }
  
  .card__content-header{
    font-weight: 900;
    font-size: 54px;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    line-height: 0.91;
    margin: 3vmin 0 3.5vmin;  
  }
  
  .card__content-paragraph{
    font-size: 1.5vmin;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 2.5vmin;
  }
  
  .button {
    background-color: transparent;
    border: 1.2px solid #000;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-size: 0.8vw;
  }
  
  .button:hover {
    color: #fff;
    background: #000;
  }
  
  .button:hover::before {
    width: 0.9375rem;
    background: #fff;
  }
  
  .button:hover .text {
    color: #fff;
    padding-left: 1.5em;
  }

#page6 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 22vw;
    margin-bottom: 2vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    /* background-color: red; */
}
#footer-div {
    height: 30vw;
    width:100%;
    position: absolute;
    /* border-radius: 50%; */
    background: linear-gradient(to top right, rgb(255, 137, 1), rgb(255, 166, 0));
    /* background: linear-gradient(to top right,red,blue); */


    top: 0;
    left: -10vw;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(30px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(50px);
        transform: translate(10%, 10%) skew(0deg);
    }
}


#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 2vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        width: 25vw;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 200;
        /* padding-left: 10vw; */
    }

    #center {
        height: 72vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        /* padding-bottom: 10vw; */
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        /* font-size: 4.5vw; */
        line-height: 6vw;
        font-size: 20px;

    }

    #center h1 {
        font-size: 17vw;
        /* font-size: 100px; */
        text-align: right;
        line-height: 15vw;
    /* padding-top: 10vw; */
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 120vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
        
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 11vw;
        width: 11vw;
        border-radius: 50%;
        display: inline-block;
        background-color: orange;
        margin: 0vw 2vw;
    }

    #page2-bottom {
        height: 100vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 5.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        display: flex;
        /* flex-direction: row; */
        justify-content:space-around;
        align-items: center;
        /* background-color: aqua; */
        
        
    }

    #bottom-part2 img {
        width: 40vw;
        border-radius: 10px;
        margin-right: 6vw;
 
        
        
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 5.7vw;
        font-size: 4vw;
    }
    
   
    #page4 {
        height: 80vh;
        width: 100%;
        background-color: #EFEAE3;
        /* padding-top: 2vw ; */
    }
    
    .swiper {
        width: 100%;
        height: 80%;
        margin-top: 5vw;
        /* background-color: #ffffff; */
      }
    
      .swiper-slide {
        border-left: 2px solid #00000028;
        width: 35%;
        padding: 0 3vw;
      }
      
    .slider-heading{
        font-size: 7vw;
        margin-top: 1vw;
        height: 17vw;
    }
    .elem {
        height: 12.5vh;
        width: 100%;
        position: relative;
    
        border-bottom: 1px solid #38383864;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 2vw;
    }
    
    .elem h2 {
        font-size: 3.5vw;
        position: relative;
        z-index: 9;
    }
    
    .elem .overlay {
        height: 100%;
        width: 100%;
        background-color: orange;
        position: absolute;
        left: 0;
        top: -100%;
        transition: all ease 0.25s;
    }
    
    .elem:hover .overlay {
        top: 0;
    }
    
    
    
    #fixed-image {
        height: 40vw;
        width: 24vw;
        /* background-color: red; */
        border-radius: 15px;
        position: fixed;
        z-index: 99;
        left: 60%;
        top: 25%;
        display: none;
        background-size: cover;
        background-position: center;
    }
    #page3 h4 {
        padding: 10px 20px;
        /* border: 1px solid #0000003c; */
        border-radius: 50px;
        color: #000000bb;
        transition: all ease 0.4s;
        position: relative;
        font-size: 14px;
        overflow: hidden;
        margin: 2vw 2vw;
        
    }
    #page5 {
        height: 120vh;
        width: 100%;
        background-color: #EFEAE3;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    
    
    .text-page5{
        font-size: 10vw;
        padding: 0vw 2vw;
    }

    .sliders-container{
        padding: 0vw 2vw;
        /* position: relative; */
       
      }
   
      .card{
    
        width: 90vw;
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35);
        background-color: #fff;
      }
      
      .card__img{
        background-position: center;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;  
      }
      
      #img01{
        background-image: url("./media/david-hofmann-POd35V_uE4k-unsplash.jpg");
      }
    
      #img02{
        background-image: url("./media/jakayla-toney-EdwBSWshC-U-unsplash.jpg");
      }
      
      
      .card__content{
        padding: 7% 5%;
        box-sizing: border-box;
        width: 50%;
      }
      
      .card__content-theme{
        font-weight: 900;
        font-size: 2.5vw; 
      }
      
      .card__content-header{
        font-size: 5vw;
        text-transform: capitalize;
        letter-spacing: 0.01em;
        line-height: 0.91;
        /* margin: 3vmin 0 3.5vmin;   */
      }
      
      .card__content-paragraph{
        font-size: 1.6vw;
        line-height: 1.7;
        font-weight: 300;
        /* margin-bottom: 2.5vmin; */
      }
      
      .button {
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 0;
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        font-size: 1.5vw;
      }
      
      .button:hover {
        color: #fff;
        background: #000;
      }
      
      .button:hover::before {
        width: 0.9375rem;
        background: #fff;
      }
      
      .button:hover .text {
        color: #fff;
        padding-left: 1.5em;
      }


       #footer {
       position: fixed;
       height: 100vh;
       width: 100%;
       background-color: #000;
       color: #fff;
       z-index: 9;
       bottom: 0;
       display: flex;
       /* align-items: flex-end; */
       justify-content: flex-end;
       flex-direction: column;
       padding: 1vw 4vw;
       align-items: center;
       }

       #footer h1 {
         font-size: 20vw;
       margin-bottom: 2vw;
       
       }
      
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,rgb(255, 80, 16));
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

